<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarSell | Home</title>
    <script src="https://kit.fontawesome.com/14273d579a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">   
      <style>

    ::-webkit-scrollbar {
      width: 2px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }

    .image-container {
      position: relative;
      
      height: 30vh;
      width: 100%;
      /* padding-bottom: 56.25%;  */
      /* Ratio d'aspect 16:9 pour la hauteur */
    }

    .image-container img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Transparence de 50% */
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
   
        .box {
      width: 100px;
      height: 100px;
      border: 1px solid #ccc;
      margin: 10px;
      display: inline-block;
      overflow: hidden;
      border-radius: 100%;
    }

    .box img {
      width: 100%;
      height: 100%;
      /* height: auto; */
      object-fit: cover;
    }

    .box .title {
      padding: 10px;
      background-color: #f8f9fa;
      text-align: center;
    }

  </style> 
</head>
<body>
    <header class="navbar navbar-expand-md navbar-light bg-light px-3">
    <div class="container">
    <a href="#" class="navbar-brand">
        <h3 class="text-success">CarSell</h3>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-content">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">

        <form action="" id="searchForm" class="ms-auto ">
            <div class="input-group">
                <input type="search" name="q" placeholder="Rechercher" class="form-control">
                <button type="submit" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                </button>
            </div>
        </form>

        <nav>
            <ul class="navbar-nav  ms-auto">
                <li class="nav-item"><a class="ms-md-4 nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">About Us</a></li>
                
                <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                <li class="nav-item"></li> <button class="btn btn-light"> Sign In </button></li>
                <li class="nav-item"></li> <button class="btn btn-success"> Sign up </button></li>

            </ul>
        </nav>
        
    </div>
    </div>
    </header>
    <div class="" style="height: 5vh;">
    <div class="image-container ">
      <img src="assets/images/images.jpeg" alt="Image de fond">
      <div class="overlay">
        <p class="fs-2 text-light custom-md-font ">Accompagner Votre mobilite est pour nous une priorites , Decouvrer les meilleurs annonces de Vente de Voitures </p>
      </div>
    </div>
  </div>
   <div class="container "  style="overflow-x: scroll;margin-top: 27vh;">
    <div class="d-flex justify-content-center">
    <div>   
      <div class="box">
        <img src="/assets/images/toyota.png" alt="Image 3">
      </div>
        <div class="title d-flex justify-content-center">Toyota</div>
    </div>
          <div>   
      <div class="box">
        <img src="/assets/images/renault.png" alt="Image 3">
      </div>
        <div class="title d-flex justify-content-center">Renault</div>
    </div>
    <div>   
      <div class="box">
        <img src="/assets/images/peugeot.png" alt="Image 3">
      </div>
        <div class="title d-flex justify-content-center">Peugeot</div>
    </div>
    <div>   
      <div class="box">
        <img src="/assets/images/mitsubishi.png" alt="Image 3">
      </div>
        <div class="title d-flex justify-content-center">Mitsubishi</div>
    </div>
          <div>   
      <div class="box">
        <img src="/assets/images/hyundai.png" alt="Image 3">
      </div>
        <div class="title d-flex justify-content-center">Hyundai</div>
    </div>
    <div>   
      <div class="box">
        <img src="/assets/images/kia.png" alt="Image 3">
      </div>
        <div class="title d-flex justify-content-center">Kia</div>
    </div>

    <div>   
      <div class="box">
        <img src="/assets/images/fiat.png" alt="Image 3">
      </div>
        <div class="title d-flex justify-content-center">Fiat</div>
    </div>
          <div>   
      <div class="box">
        <img src="/assets/images/citroen.png" alt="Image 3">
      </div>
        <div class="title d-flex justify-content-center">Citroen</div>
    </div>
    <div>   
      <div class="box">
        <img src="/assets/images/chevrolet.png" alt="Image 3">
      </div>
        <div class="title d-flex justify-content-center">Chevrolet</div>
    </div>  
    
    </div>
</div>
<section class="annonce border border-success container">   
</section>
<main class="container mt-4 border border-light rounded " style="padding: 10px;">
    <section class="container-fluid">
        <section class="row gy-3 mb-4">
            <h4>Annonces Recentes</h4>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/images/car.jpeg" alt="Coding" class="card-img-top">
                    <div class="card-body">
                        <h1 class="h3 card-title">Lorem, ipsum dolor.</h1>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium explicabo, neque temporibus delectus est rem.</p>
                        <a href="#" class="btn btn-success">En Savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/images/car.jpeg" alt="Mixing" class="card-img-top">
                    <div class="card-body">
                        <h1 class="h3 card-title">Lorem, ipsum dolor.</h1>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium explicabo, neque temporibus delectus est rem.</p>
                        <a href="#" class="btn btn-success">En Savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/images/car.jpeg" alt="Teaching" class="card-img-top">
                    <div class="card-body">
                        <h1 class="h3 card-title">Lorem, ipsum dolor.</h1>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium explicabo, neque temporibus delectus est rem.</p>
                        <a href="#" class="btn btn-success">En Savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/images/images.jpeg" alt="Vidéo" class="card-img-top">
                    <div class="card-body">
                        <h1 class="h3 card-title">Lorem, ipsum dolor.</h1>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium explicabo, neque temporibus delectus est rem.</p>
                        <a href="#" class="btn btn-success">En Savoir plus</a>
                    </div>
                </div>
            </div>
             <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/images/images.jpeg" alt="Vidéo" class="card-img-top">
                    <div class="card-body">
                        <h1 class="h3 card-title">Lorem, ipsum dolor.</h1>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium explicabo, neque temporibus delectus est rem.</p>
                        <a href="#" class="btn btn-success">En Savoir plus</a>
                    </div>
                </div>
            </div>
            
        </section>

        <section class="row gy-3 mb-4">
            <h4>Toutes nos annonces</h4>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/images/car2.jpeg" alt="Coding" class="card-img-top">
                    <div class="card-body">
                        <h1 class="h3 card-title">Lorem, ipsum dolor.</h1>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium explicabo, neque temporibus delectus est rem.</p>
                        <a href="#" class="btn btn-success">En Savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/images/car.jpeg" alt="Mixing" class="card-img-top">
                    <div class="card-body">
                        <h1 class="h3 card-title">Lorem, ipsum dolor.</h1>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium explicabo, neque temporibus delectus est rem.</p>
                        <a href="#" class="btn btn-success">En Savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/images/car.jpeg" alt="Teaching" class="card-img-top">
                    <div class="card-body">
                        <h1 class="h3 card-title">Lorem, ipsum dolor.</h1>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium explicabo, neque temporibus delectus est rem.</p>
                        <a href="#" class="btn btn-success">En Savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/images/images.jpeg" alt="Vidéo" class="card-img-top">
                    <div class="card-body">
                        <h1 class="h3 card-title">Lorem, ipsum dolor.</h1>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium explicabo, neque temporibus delectus est rem.</p>
                        <a href="#" class="btn btn-success">En Savoir plus</a>
                    </div>
                </div>
            </div>
             <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/images/images.jpeg" alt="Vidéo" class="card-img-top">
                    <div class="card-body">
                        <h1 class="h3 card-title">Lorem, ipsum dolor.</h1>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium explicabo, neque temporibus delectus est rem.</p>
                        <a href="#" class="btn btn-success">En Savoir plus</a>
                    </div>
                </div>
            </div>
            
        </section>
    </section>
</main>
<footer class= bg-light container-fluid" style="height: 85px;">
    <div class="container">
        <div class="row">
            <div class="col-4  pt-3 border-y" >(c)Copyright 2023</div>
            <div class="col-4  pt-3" > Realise avec Amour par Nous</div>
            <div class="col-4 d-flex justify-content-center  pt-3" >
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>  
            </div>
        </div>
    </div>
</footer>
</body>
</html> 