<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eveniet, provident expedita deserunt officiis non quaerat ipsum, voluptatem rem at placeat doloribus odit atque sequi repudiandae? Accusamus, esse. Amet, harum!
</body>
</html>